@model Comptabilite_Analytique.Models.COMPTE_ANA5CH

@{
    ViewBag.Title = "Détails - Compte Analytique à 5 chiffres";
}

<h2>Détails - Compte Analytique à 5 chiffres </h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMPTE_ANA4CH.NUMERO) compte à 4 chiffres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPTE_ANA4CH.NUMERO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COMPTE_ANA4CH.LIBELLE_FR) compte à 4 chiffres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPTE_ANA4CH.LIBELLE_FR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NUMERO) compte à 5 chiffres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_FR) compte à 5 chiffres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_FR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIEGE.LIBELLE_FR) siege
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SIEGE.LIBELLE_FR) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SIEGE.NUMERO_SIEGE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SIEGE.NUMERO_SIEGE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_FR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_FR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_AR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_AR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANNEE_COMPTABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANNEE_COMPTABLE)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.NUMERO }) |
        @Html.ActionLink("Back to List", "Index")*@

    <a class="btn-primary btn-outline btn" href="@Url.Action("Index", "Compte5ch")"> <span class=" glyphicon glyphicon-arrow-left"></span> Retourner vers la liste</a>
    <a class="btn-danger btn-outline btn" href="@Url.Action("Edit", "Compte5ch", new { id1 = Model.NUMERO , id = Model.SIEGE_N_SIEGE })"> <span class=" glyphicon glyphicon-edit"></span> Modifier </a>

</p>
