@model Comptabilite_Analytique.Models.CLE_REPARTITION_VARIABLE

@{
    ViewBag.Title = "Details - Clé Repartition Variable ";
}

<h2>Details - Clé Repartition Variable </h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMPTE_ANA5CH.LIBELLE_FR) compte source
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPTE_ANA5CH.LIBELLE_FR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COMPTE_ANA5CH.NUMERO) compte source
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPTE_ANA5CH.NUMERO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COMPTE_ANA5CH1.LIBELLE_FR) compte destination
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPTE_ANA5CH1.LIBELLE_FR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COMPTE_ANA5CH1.NUMERO) compte destination
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPTE_ANA5CH1.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NATURE_DEPENSE1.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NATURE_DEPENSE1.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODE_GROUPEMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE_GROUPEMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UR_REPARTITION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UR_REPARTITION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAUX_REPARTITION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAUX_REPARTITION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANNEE_COMPTABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANNEE_COMPTABLE)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IDCLE_REP_VAR }) |
    @Html.ActionLink("Back to List", "Index")*@
    <a class="btn-primary btn-outline btn" href="@Url.Action("Index", "CleRepVar")"> <span class=" glyphicon glyphicon-arrow-left"></span> Retourner vers la liste</a>
    <a class="btn-danger btn-outline btn" href="@Url.Action("Edit", "CleRepVar", new { id = Model.IDCLE_REP_VAR })"> <span class=" glyphicon glyphicon-edit"></span> Modifier </a>
</p>