@model Comptabilite_Analytique.Models.NATURE_DEPENSE_SUBVENTION

@{
    ViewBag.Title = "Détails - Nature Dépense Subvention";
}

<h2> Détails - Nature Dépense Subvention</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NATURE_DEPENSE.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NATURE_DEPENSE.NUMERO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_FR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_FR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_AR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_AR)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.NUMERO }) |
        @Html.ActionLink("Back to List", "Index")*@
    <a class="btn-primary btn-outline btn" href="@Url.Action("Index", "NatureDepenseSub")"> <span class=" glyphicon glyphicon-arrow-left"></span> Retourner vers la liste</a>
    <a class="btn-danger btn-outline btn" href="@Url.Action("Edit", "NatureDepenseSub", new { id = Model.NUMERO })"> <span class=" glyphicon glyphicon-edit"></span> Modifier </a>
</p>
