@model Comptabilite_Analytique.Models.MAGASIN

@{
    ViewBag.Title = "Détails - Magasin";
}

<h2>Détails - Magasin</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SIEGE.NUMERO_SIEGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIEGE.NUMERO_SIEGE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CODE_MAGASIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE_MAGASIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_FR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_FR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_AR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_AR)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CODE_MAGASIN }) |
    @Html.ActionLink("Back to List", "Index")*@
    <a class="btn-primary btn-outline btn" href="@Url.Action("Index", "MAGASIN")"> <span class=" glyphicon glyphicon-arrow-left"></span> Retourner vers la liste</a>
    <a class="btn-danger btn-outline btn" href="@Url.Action("Edit", "MAGASIN", new { id = Model.CODE_MAGASIN })"> <span class=" glyphicon glyphicon-edit"></span> Modifier </a>
</p>
