@{
      ViewBag.Title = "Gestion des utilisateurs";
      Layout = "~/Views/Shared/_Layout.cshtml";
  }
  
  <div class="row col-sm-12 col-lg-12 col-md-12">
         <h1> Gestionnaire des utilisateurs </h1>
         <br />
     
</div>
  @if (ViewBag.Message != null)
  {
      <div class="alert alert-info alert-dismissable fade in col-sm-12 col-lg-12 col-md-12" role="alert">
          <button type="button" id="cbtn" class="close" data-dismiss="alert" aria-hidden="true">
              &times;
          </button>
          @ViewBag.Message
      </div>}<br />
  <div class="row col-sm-12 col-lg-12 col-md-12">
     
     
         <div class="col-sm-6 col-lg-6 col-md-6">
                 <div class="panel panel-primary">
                         <div class="panel-heading">
                                 <h4>Liste des utilisateurs</h4>
                 
            </div>
                         <div class="panel-body">
                                 <table class="table table-striped table-hover col-sm-6 col-lg-6 col-md-6 ">
                                         @foreach (var user in ViewBag.Users)
                      {
                          <tr>
                              <td class="col-sm-1 col-lg-3 col-md-3">
                                  <strong>@user.UserName </strong>
                              </td>
  
                              <td class="col-sm-1 col-lg-2 col-md-2">
  
                                  <span onclick="return confirm('Voulez-vous vraiment supprimer?')"><a href="/Users/Delete?id=@user.Id" class="btn btn-danger btn-sm">Supprimer</a></span>
                                  @Html.ActionLink("Modifier", "Edit", new { id = @user.Id }, new { @class = "btn btn-warning btn-sm" })
                              </td>
                          </tr>
                      }
  
                </table>
                 
            </div> <!-- End Panel Body-->
             
        </div> <!-- End Panel -->
         
                 <div class="panel panel-primary">
                         <div class="panel-heading">
                                 <h4>Créer un nouvel utilisateur</h4>
                 
            </div>
                         <div class="panel-body">
                                 @using (Html.BeginForm("Create", "Users", new { @class = "form-horizontal" }))
                  {
                      @Html.AntiForgeryToken()
                      @Html.ValidationSummary(true)
  
                      <div>
                          <div class="form-group">
  
                           <label class="control-label ">Nom d'utilisateur :</label>     @Html.TextBox("username", null, new {@class = "form-control col-md-2"})<br />
                          </div>
                          <div class="form-group">
                              <label class="control-label ">   E-mail :</label> @Html.TextBox("email", null, new { @class = "form-control col-md-2" })<br /></div>
  
      <div class="form-group"><label class="control-label "> Mot de passe : </label> @Html.Password("password", "", new { @class = "form-control col-md-2" })<br /> </div>
                <br /><br />  <input type="submit" value="Ajouter" class="btn-primary btn-block" />
              </div>
                  }
  
              </div> <!--End Panel Body-->
          </div> <!--End Panel-->
      </div> <!--End First Column-->
  <div></div></div>
  <script type="text/javascript">
      window.onload = function () {
           onclick = function () {
              document.getElementById("cbtn").click(); // this will trigger the click event
          };
      };
                 </script>
